{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock %}

{% block content %}
<section class="about">
    <h2>
        O факультете:
    </h2>
    <p class="longRead">
        Факультет, опираясь на обширные связи с отечественными и зарубежными предприятиями и фирмами, обладая высококлассными специалистами и современными научными и учебными лабораториями, постоянно совершенствует образовательный процесс, гарантируя выпускникам востребованность на рынке труда и успешную карьеру в жизни.
        Студенты факультета получают отсрочку от службы в армии, имеют возможность за время обучения пройти военную подготовку на военно-морской кафедре университета и получить воинское звание младший лейтенант.
    </p>
    <a href="https://spb.ucheba.ru/uz/56883" class="link"><p>Оригинал</p></a>
</section>
<div class="motto">
    <div class="text">
        <h2 class = "mottoText">LETI mask and profcom pen</h2>
        <h2 class = "mottoText">Are the atributes of men</h2>
        <h3 class="mottoAutor">Chinese wisdom</h3>
    </div>
</div>
{% endblock %}