{% extends 'base.html' %}

{% block title %}
    заголовок 228
{% endblock %}

{% block content %}
<div class="motto" id="motto">
    <div class="text">
        <h2 class = "mottoText">If you disrespect the gays</h2>
        <h2 class = "mottoText">Get the fuck out of this place</h2>
        <h3 class="mottoAutor">A.Pushkin</h3>
    </div>
    <img src="https://www.svgx.ru/svg/2027659.svg" alt="" class="mottoImg">
</div>
<section class="study">
    <h2>
        Учеба:
    </h2>
    <p class="longRead">
        Основной образовательной деятельностью факультета является подготовка <span>IT-специалистов</span>, соответствующих мировому уровню, для высокотехнологических отраслей инновационной экономики Российской Федерации. По оценкам аналитиков IT-рынок в нашей стране быстро растет, и будет расти еще много лет. В связи с выходом на рынок большого числа западных компаний, а также расширением существующих производств, спрос на специалистов, занятых в этой сфере, постоянно повышается.
    </p>
    <a href="https://spb.ucheba.ru/uz/56883" class="link"><p>Оригинал</p></a>
    <div class="studyLinks">
        <ul class="usefulLinks" id ="list">
            <li><a href="http://www.physicsleti.ru/index.php/uchebnyi-process/fkti.html" class="link">
                Кафедра физики
            </a></li>
            <li><a href="https://www.youtube.com/channel/UCPpqbvYdE2db3DCUttj067w" class="link">
                Лекции по АиГу С.Г.Иванова</a></li>
            <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgFh1VeF8UqAvvXineeDDqTTTUOchFyfQ0Q&usqp=CAU" class="link">
                Еще что-то полезное</a></li>
            <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgFh1VeF8UqAvvXineeDDqTTTUOchFyfQ0Q&usqp=CAU" class="link">
                Еще что-то полезное</a></li>
            <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgFh1VeF8UqAvvXineeDDqTTTUOchFyfQ0Q&usqp=CAU" class="link">
                Еще что-то полезное</a></li>
            <li><a href="https://etu.ru/ru/studentam/raspisaniya-zanyatiy-i-ekzamenov/raspisanie" class="link">
                Расписание</a></li>
        </ul>
    </div>
</section>
{% endblock %}